<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey there! I’m Alyssa Ayala, a programmer, actress, and student working toward a degree in Computer Science. During my junior year of high school, my game development course sparked my passion for coding, and I’ve been coding ever since.</p>
      </div>
      <div class="col-lg-4">
        <p> I am comfortable coding in Python and am currently learning Java/C#. I have also been acting professionally since I was fourteen years old, but I became SAG-Eligible at seven years old! My goal is to use my work to connect the complex technical world with my creative abilities. </p>
      </div>
    </div>
  </div>
</section>
